html {
  font-size: 10px;
}
a {
  text-decoration: none !important;
  color: #000;
}
body {
  //   height: 100%;
  //   background-image: linear-gradient(125deg, #44cef6, #0eb83a, #a172e3, #dd57a5);
  //   background-size: 400%;
  //   animation: bganimation 15s infinite;
  h3 {
    text-align: center;
  }
  .box {
    margin-bottom: 10rem;
    .container {
      .row {
        text-align: center;
        div {
          height: 15rem;
          a {
            width: 100%;
            height: 100%;
            display: block;
          }
        }
        p {
          padding: 2rem 0;
          border-bottom: 1px solid black;
          font-size: 2.2rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }
    }
  }
}
@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
