a {
  text-decoration: none;
  color: #000;
}
body h3 {
  text-align: center;
}
body h3 img {
  width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}
body h3 img:hover {
  border: 1px solid lightgreen;
}
