a {
  text-decoration: none !important;
  color: #000;
}
body h3 {
  text-align: center;
}
body .container .row {
  text-align: center;
}
body .container .row img {
  width: 100%;
}
body .container .row img:hover {
  border: 1px solid lightgreen;
}
